{%- extends "bootstrap/base.html" %}

{% block title %}SUPER STATS BROS{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    <center>
      <h1>SUPER STATS BROS!</h1>
      {% if online %}
        <iframe id="player" type="text/html" width="640" height="480" src="http://www.twitch.tv/superstatsbro/embed" frameborder="0"></iframe>
      {% else %}
        <p>The stream is currently offline. Check again later!</p>
      {% endif %}
    </center>  
  </div>

  <h2>Recent Games</h2>
  
  <table class="table table-striped">
    <tr>
      <th>Players</th>
      <th>Stage</th>
      <th></th>
    </tr>
    {% for g in recent_games: %}
      <tr>
	<td>
	  {% for p in players[g] %}
	    {{ p[0] }} ({{ p[1] }})
	    {% if p != players[g][-1] %}
	      ,
	    {% endif %}
	  {% endfor %}
	</td>
	<td>{{ g.stage }}</td>
	<td><a href={{ links[g] }}>Game</a></td>
      </tr>
    {% endfor %}	    
  </table>
</div>

{% endblock %}
